/* Frame */

.mainframe{

    width: 640px;
    height: 360px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 20px;
}